*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: fontBold;
    src: url('../assets/fonts/Roboto-Bold.ttf') format(opentype);
}

@font-face {
    font-family: fontnormal;
    src: url('../assets/fonts/Roboto-Regular.ttf') format(opentype);
}

body{
    height: 100vh;

    font-family: 'fontBold', 'fontnormal';
    font: normal 1em;
    background-color: hsl(234, 29%, 20%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main{
    background-color: rgb(255, 255, 255);
}

section.registeron section.picture{
    background: url('../assets/images/illustration-sign-up-mobile.svg') top center no-repeat;
    height: 300px;
    width: 100%;
    margin-bottom: 30px;
    border-radius: 0px 0px 20px 20px;
}

section.registeron{
    width: 375px;
}

section.text h1,
section.inviteon h1{
    font-size: 2.4em;
    margin-bottom: 30px;
}


ul li{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}

li p,
section.inviteon p{
    padding-top: 15px;
}

img.check{
    margin-right: 10px;
}

section.text,
section.login,
section.inviteon{
    font-size: 1em;   
    margin: 30px 30px 20px;
}

ul{
    list-style: none;
}

section.login{
    margin-top: 40px;
}

p span.msgerro{
    color: red;
    margin-left: 90px;
    font-size: .8em;
}

section.login input,
section.inviteon button{
    border: 1px solid rgb(0, 0, 0);
    width: 100%;
    margin: 10px 0px 10px 5px;
    height: 50px;
    padding: 15px;
    border-radius: 5px;
}

input.button,
section.inviteon button{
    font-size: 1.1em;
    font-weight: 600;
    color: white;
    background-color: hsl(233, 35%, 18%) ;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.521);
    cursor: pointer;
}

input.button:hover,
section.inviteon button:hover{
    background-color:   hsl(4, 100%, 67%) ;
}

section.off{
    display: none;
}

section.credits{
    color:  hsl(234, 29%, 20%);
    background-color:  hsl(0, 100%, 100%) ;

    margin-bottom: 10px;

    font-size: 0.6em;
    text-align: center;
}

div a{
    text-decoration: none;
    color:  hsl(234, 29%, 20%);
}

div a:hover{
    color: orangered;
}

section.registeroff{
    display: none;
}

section.inviteoff{
    display: none;
}

section.inviteon{
    font-weight: normal;
    width: 375px;
    font-size: 1.3em;
    height: 800px;
    
}


section.inviteon img.check{
    width: 60px;
    margin: 100px 0px 20px;
}

section.inviteon h1{
    margin-right: 70px;
}

section.inviteon button{
    padding: 5px;
    margin: 300px 0px 20px;
}

p span#msgemail{
    font-weight: 900;
    font-size: 1.2em;
}

input.erro{
    background-color: rgba(255, 0, 0, 0.171);
    color:red;
}

