@use 'variables'

@mixin body-size()
    width: 100vw
    height: 100%
    min-height: 100vh

    overflow-x: hidden

@mixin flex-center()
    display: flex
    justify-content: center
    align-items: center

@mixin bg-img($url)
    background: url($url) center center no-repeat local
    background-size: cover

@mixin max-content 
    width: 100%
    height: 100%

@mixin btn-input()
    width: 100%
    height: 60px

    border-radius: 5px 

    font-size: 18px

@mixin btn()
    @include btn-input()

    width: 100%

    background-color: variables.$color-darkgreay
    color: variables.$color-white
                
    border: 2px solid variables.$color-darkgreay

    cursor: pointer
    
@mixin responsive_1124()
    @media (max-width: 1124px)
        @content

    
@mixin responsive_height_924()
    @media (min-height: 924px)
        @content

    
@mixin responsive_924()
    @media (max-width: 924px)
        @content

    
@mixin responsive_624()
    @media (max-width: 624px)
        @content

    
@mixin responsive_464()
    @media (max-width: 464px)
        @content
  
   