@use '_mixins'

@use '_variables'

@import 'reset'

@import 'fonts'

@import 'animations'

html, body
    font-family: fontBold

    @include mixins.body-size()

    @include mixins.flex-center()

    background-color: variables.$color-darkgreay

    @include mixins.responsive_924()
        align-items: flex-start

    @include mixins.responsive_height_924()
        align-items: center
    
    main
        animation: loading-inital 1.5s ease-in-out

        box-shadow: 5px 5px 10px #0000007f

        @include mixins.flex-center()

        flex-direction: row

        padding: 20px

        height: 650px
        width: 1024px

        column-gap: 20px

        border-radius: 40px

        @include mixins.responsive_1124()
            height: 500px
            width: 924px

        @include mixins.responsive_924()
            flex-direction: column-reverse

            width: 564px
            height: 924px

            padding: 0px
            padding-bottom: 40px

            margin: 50px

            border-radius: 20px

        @include mixins.responsive_624()
            animation: loading-inital none

            width: 100vw  
            min-height: 100vh   
            height: max-content

            justify-content: start 

            margin: 0px

            border-radius: 0px

        .container_information
            animation: loading-inital 2s ease-in-out 0

            width: 60%

            padding: 0 20px

            @include mixins.flex-center()

            align-items: flex-start

            flex-direction: column

            row-gap: 30px

            @include mixins.responsive_1124()
                row-gap: 20px

                padding: 0 30px

            @include mixins.responsive_924()
                width: max-content

                padding: 0 

            @include mixins.responsive_624()
                width: 100vw
                height: 100%

                padding: 40px

            @include mixins.responsive_464()
                width: 100vw 

                padding: 20px

            &_title
                font-size: 4em

                color: variables.$color-darkgreay

                @include mixins.responsive_1124()
                    font-size: 3.5em

                @include mixins.responsive_464()
                    font-size: 2.8em
                    
            &_text
                line-height: 28px

                color: variables.$color-charcoalgray

                @include mixins.responsive_464()
                    font-size: .9em

            &_list
                row-gap: 15px
                
                display: flex

                flex-direction: column

                li
                    @include mixins.flex-center()
                    
                    column-gap: 20px

                    align-self: start

                @include mixins.responsive_464()
                    font-size: .9em
                   


        .container_picture
            @include mixins.bg-img("../assets/images/illustration-sign-up-desktop.svg")

            height: 100%
            width: 65%
            
            border-radius: 20px

            @include mixins.responsive_924()
                width: 95%
                height: 97.5%

                margin-top: 2.5%
                margin-bottom:50px

                @include mixins.bg-img("../assets/images/illustration-sign-up-mobile.svg")


            @include mixins.responsive_624()
                width: 100vw
                min-height: 300px
                height: 25vh

                margin-top: 0px
            
                border-radius: 0px 0px 20px 20px

        .container_information_form 
            width: 100%
            height: min-content

            row-gap: 5px

            @include mixins.flex-center()

            align-items: flex-start
            flex-direction: column

            label
                width: 100%

                display: flex
                justify-content: space-between

                color: variables.$color-darkgreay

                span 
                    color: #ff000081

                    font-size: 14px


            input
                @include mixins.btn-input()
                width: 100%
                
                border: 2px solid variables.$color-light-gray

                padding-left: 20px

                cursor: pointer

                &:focus
                    cursor: auto

                    border: 2px solid variables.$color-charcoalgray

            .err
                animation: input-err .5s ease-in-out 

                border: 2px solid #ff000044

                color: #ff000081

                background-color: rgba(255, 0, 0, 0.124)

        .btn 
            @include mixins.btn()
            
            &:hover
                background-image: variables.$btn-gradient
            

    .contianer_confirmation 
        background-color: variables.$color-white

        box-shadow: 5px 5px 10px #0000008f

        animation: confirmation 1s ease-out

        color: black

        padding: 40px

        width: 420px
        height: 450px

        border-radius: 30px

        @include mixins.flex-center()

        flex-direction: column

        row-gap: 20px

        @include mixins.responsive_924()
            position: absolute
            top: 50vh
            transform: translateY(-50%)

        @include mixins.responsive_464()
            width: 100vw
            height: 100vh

            border-radius: 0px

            padding: 50px

            overflow: hidden


        img 
            width: 60px
            height: 60px
            border-radius: 50%

            align-self: flex-start

            animation: loading-inital 1.5s ease-in-out 

        
        h1
            font-size: 3.2em

            color: variables.$color-darkgreay

            animation: loading-inital 1.5s ease-in-out 

            @include mixins.responsive_464()
            font-size: 2.8em

        .text
            line-height: 22px
            font-size: 14px

            color: variables.$color-charcoalgray

            animation: loading-inital 1.5s ease-in-out 

            span
                color: variables.$color-darkgreay

        button 
            @include mixins.btn()

            animation: loading-inital 1.5s ease-in-out

            &:hover
                background-image: variables.$btn-gradient  

